$primary: #49c5b6;
$text: #4d4f5c;
$white: #ffffff;
$black: #000000;
$red: #ff857e;
$grey: #c7cdd1;
$light-grey: #d9d9d9;

$default-font: Montserrat, sans-serif;

$xLarge: 24px;
$large: 20px;
$medium: 18px;
$default: 16px;
$small: 14px;
